<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Realms</title>
    <style id="compiled-css" type="text/css">
        #theInput {
            height: 20px;
            line-height: 20px;
            vertical-align: middle
        }
    </style>
</head>

<body>
    <input type="text" id="theInput">
    <input type="button" value=" Join " id="JoinButton">
    <input type="button" value=" Start " id="StartButton">
</body>


<script type="module" src="/js/module.js"></script>
<script type="module" src="js/main.js"></script>


</html>