<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Realms</title>
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.0.1/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.0.1/css/react-select.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script type="text/javascript" crossorigin="anonymous" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

</head>

<body>
    <div class="vertical-center">
        <img src="images/realms.png" style="margin-bottom: 10%;">
        <h1><%= user.name %></h1>
        <input type="text" id="NameInput" placeholder="Your Name">
        <input type="text" id="theInput" placeholder="Zoom Meeting ID" maxlength="11">
        <input type="text" id="PasswordInput" placeholder="Meeting Password">
        <button class="button1" id="JoinButton"> Join </button>
        <button class="button3" id="CreateButton"> 
            <img src="images/zoom-icon-logo.png" style="height: 80%; padding-left: 10% ; padding-right: 10%;" >
            Create
        </button>
    </div>

    <script src="https://source.zoom.us/2.1.0/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/2.1.0/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/2.1.0/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/2.1.0/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/2.1.0/lib/vendor/lodash.min.js"></script>
    <script src="https://source.zoom.us/2.1.0/zoom-meeting-embedded-2.1.0.min.js"></script>

    <script type="module" src="js/main.js"></script>
</body>



</html>