<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Realms</title>
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.0.1/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="css/login.css">
    <script type="text/javascript" crossorigin="anonymous" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

</head>

<body>
    <div class="vertical-center">
        <img src="images/realms.png" style="width: 60%; padding-bottom: 10%;">
        <button class="button" id="LoginButton" onclick="location.href='/SSOLogin';"> Log In </button>
    </div>
</body>

<script src='js/loginpage.js'></script>

</html>s