<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Realms</title>
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.0.1/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.0.1/css/react-select.css" />
    <link type="text/css" rel="stylesheet" href="../../css/style.css">
    <script type="text/javascript" crossorigin="anonymous" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

</head>

<body>
    <div class="leftside">
        <div id="meetingSDKElement" style="position: absolute; width: 100%;">
        </div>
    </div>
    <div class="vertical-center">
        <img src="../../images/realms.png" style="margin-bottom: 10%;">
        <h2 id = "Zoom ID"></h2>
        <h2 id = "Zoom Name"></h2>
    </div>

    <div class="controls">
        <img id = 'question' class='yellow_glow' src="../../images/Question_Mark.png"
            style="position: absolute; left: 0; bottom:0; width: 50px; ">
        <img id = 'bolt' class='green_glow' , src="../../images/Lightning_Bolt.png"
            style="position: absolute; left: 50%; margin-left: -25px; top:0; width: 50px;">
        <img id = 'x' class='red_glow' src="../../images/X_Symbol.png" style="position: absolute; right: 0; bottom:0; width: 50;">
        <img src="../../images/Selector.png" style="position: absolute; left:50%; margin-left: -40px; bottom:0; width: 80px;">
    </div>


    <script src="https://source.zoom.us/2.1.0/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/2.1.0/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/2.1.0/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/2.1.0/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/2.1.0/lib/vendor/lodash.min.js"></script>
    <script src="https://source.zoom.us/2.1.0/zoom-meeting-embedded-2.1.0.min.js"></script>

    <script type="module" src="../../js/student.js"></script>
    <script type="module" src="../../js/module.js"></script>
</body>



</html>